* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--neutral-light-grey);
}

.main__div {
    background: var(--neutral-white);
    padding: 2rem;
    border-radius: 20px;
    border-bottom-right-radius: 110px;
}

.main__div-input {
    display: flex;
    gap: 1rem;
}
 .main__div-input div {
    display: flex;
    flex-direction: column;
}

.main__div-input div label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--neutral-smokey-grey);
    letter-spacing: 3px;
    margin-bottom: 0.3rem;
}

.main__div-input div input {
    width: 84px;
    height: 38px;
    border: 1px solid var(--neutral-light-grey);
    border-radius: 4px;
    font-weight: 800;
    font-size: 18px;
    padding: 1.4rem 0.6rem;
    cursor: pointer;
}

.main__div-input div input:focus {
    outline: none;
    border: 1px solid var(--primary-purple);
    caret-color: var(--primary-purple);
}

.main__div-break {
    display: flex;
    align-items: center;
}
  
.main__div-break hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid var(--neutral-light-grey);
    width: 350px;
}

.main__div-break img {
    background: var(--primary-purple);
    width: 56px;
    height: 56px;
    border-radius: 999px;
    padding: .8rem;
    cursor: pointer;
}

.main__div-break img:active {
    background: var(--neutral-off-black);
}

.main__div-info p {
    font-size: 54px;
    font-weight: 800;
    font-style: italic;
    line-height: 56px;
}

.main__div-info p span {
    color: var(--primary-purple);
    margin-right: 6px;
}
